/* Components.css 
   React Blog Assignment 
   Array Bootcamp Fall 2021
   Katie Greenwald 
*/


.par-box{
    height: 12rem; 
    overflow: scroll;
}


.admin-button{
    background-color: white;
    position: relative;
    top: 4rem; 
    left: 0rem; 
    border-width: 0;
}
.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.author-card{    
    color: white;
    background-color: black;
    opacity: 0.7;

}

.blog-image {
    height: 40rem;
    width: 50rem;
    left: -3rem; 
    position: relative;
}
.blog-title{
    text-decoration: underline;
    font-size: 4rem;
}

.blog-list{
    left:-10rem; 
    position: relative;
    width: 10rem;
    padding-left: 3rem; 
    /* padding-right: 3rem;  */
}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: underline; }
a:active { text-decoration: none; }

.card-group{

    position: relative;
    left: 5rem; 
}


.cardTitle, Link{
    color: lightgreen;
    text-decoration: none; 
-webkit-text-stroke-width: 1px;
 -webkit-text-stroke-color: blue; 
}
.blog-date{
    color: red;
    text-decoration: none; 
-webkit-text-stroke-width: .5px;
 -webkit-text-stroke-color: orange;
}

.blog-summary {
    color: darkblue; 
    text-decoration: none; 
-webkit-text-stroke-width: .45px;
 -webkit-text-stroke-color:rgb(182, 255, 182);
} 

 .blog-author  {
    color:rgb(255, 20, 255);
    text-decoration: none; 
-webkit-text-stroke-width: 1px;
 -webkit-text-stroke-color: blue;
} 




.mb-2{ color: rgb(0, 238, 255);
    -webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: rgb(1, 69, 255);
}

.imgBox{
    background-color: black;
     opacity: 0.7; 
}
.cards{
    position: relative;
    left: -5rem; 
    background-image: url('../Images/paper.png');
    text-align: center;
    
}


.cardsImg{
    opacity:  0.65; 
    text-align: center;
    position: relative;
    left: 5rem; 
} 

.cardsImg:hover {
    outline: #333 solid 4px;
}
.caro {
    height: auto;
    color: wheat;
}
  .aNav, header, footer {
    width: 100%;
    z-index:0;
    position: relative;
  }


 .aNav{
     position: relative;
     left: 4rem;
    
     }
header {

}
.footer {
    background-image: url('../Images/paper.png');
    height: 15rem;
   
    z-index:0;
}

.page-list{
    position: relative;
    left: 8rem; 
    top: 1rem; 
}
.contact-form{
   left: 23rem;
   position: relative;
    width: 40rem;
    height: 25rem;
    background-image: url('../Images/paper.png');
    z-index:0;
}
.aCard, .page,.App-header, .pageIndex {
    background-image: url('../Images/paper.png');
    z-index:0;
}
.pageIndex {
    width: 40rem;
    display: block;
    left: 3rem; 
    font-size: 1.5rem;
}
.form{
    width: 14rem;
    display: block;
    
}

.message-box{
    width: 18rem;
    height: 8rem;
    
}
textarea{background-color: rgb(0, 0, 0);}

.page{
    width: 45rem;
     height: 240rem;
    padding-bottom: 10rem;
    text-align: center;
}
.page1{}
.page2{}
.page3{}

.page-text{
    text-align: left;
    padding-left: 2rem;
    font-size: 1.5rem;
}
/* .pageIndex {color: wheat;}
.pageIndex:link {color: wheat;} */
header, div,  .linkIndex {
    justify-content: space-between;
    flex: center; 
    /* text-align: center; */
 
}
/* Nav.tabs.Link.active {background-color: green;}
.navTabs.active  {background-color: green;}
.nav-link.active{background-color: green;} */


.cardi:hover {
    outline: rgb(213, 255, 208) solid 4px;
}

.placeholdertext{
color: rgb(160, 104, 0);
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: black;
}

.linkIndex,.blogTitle{
    text-align: center;
    width: auto; display: block;
    padding-bottom: 2rem;
 }
     .blog-list{ width: 10rem; display: block }